.icon svg {
    display: block;
    height: 100%;
    width: 100%;
}

.icon.btn {
    box-sizing: border-box;
    padding: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}

.icon.btn:hover {
    padding: 3px;
}

.icon.btn:active {
    padding: 3px;
    opacity: 0.6;
}

.icon.solid svg {
    fill: var(--icons);
}

.icon.outline svg {
    stroke: var(--icons);
}
